<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Scripts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <script src="~/Scripts/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />


   
        <!-- Navbar Start -->
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h4 class="m-0 display-4 text-uppercase text-primary">Soporte Patitos</h4>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Inicio</a>
                        <!--<a href="Url.Action("Login", "Home")" class="nav-item nav-link">Iniciar Sesión</a> -->
                        @if (Session["Gerencia"] != null)
                        {
                            <div class="navbar-nav mr-auto py-0">
                                <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia -->
                                <a href="@Url.Action("Evaluacion", "RecursosHumanos")" class="nav-item nav-link">Evaluación</a> <!-- Formulario de Evaluaciòn -->
                            </div>

                        }


                        @if (Session["Empleado"] != null)
                        {
                            <div class="navbar-nav mr-auto py-0">
                                <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia -->
                                <a href="@Url.Action("Colillas", "Empleado")" class="nav-item nav-link">Colillas</a> <!-- Colillas de pago de planilla  -->
                            </div>

                        }


                        @if (Session["RH"] != null)
                        {
                            <ul class="navbar-nav mr-auto py-0">

                                <a href="@Url.Action("Registro_Empleados", "RecursosHumanos")" class="nav-item nav-link">Registro</a> <!-- Registro de Empleados -->
                                <a href="@Url.Action("Evaluacion", "RecursosHumanos")" class="nav-item nav-link">Evaluación</a> <!-- Formulario de Evaluaciòn -->
                                <a href="@Url.Action("Planilla", "RecursosHumanos")" class="nav-item nav-link">Planilla</a> <!-- Manejo de Planillas -->
                                <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia -->
                                <a href="@Url.Action("Colillas", "Empleados")" class="nav-item nav-link">Colillas</a> <!-- Colillas de pago de planilla  -->
                                <a href="@Url.Action("ListadoEmpleados", "RecursosHumanos")" class="nav-item nav-link">Empleados</a> <!-- Colillas de pago de planilla  -->
                            </ul>
                        }



                    </div>
                    <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 200px;">
                       <!-- <input type="text" class="form-control border-0" placeholder="Keyword">
                        <div class="input-group-append">
                            <button class="input-group-text bg-primary text-dark border-0 px-3">
                                <i class="fa fa-search"></i>
                            </button>-->

                            @if (Session["Gerencia"] != null)
                            {
                                <ul class="navbar-nav mr-auto py-0">
                                    <a href="@Url.Action("CuentaGerencia", "Empleado")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["Gerencia"].ToString()</a>
                                    <a href="@Url.Action("Salir", "Empleado")" class="nav-item nav-link">Salir</a>
                                </ul>
                            }


                            @if (Session["RH"] != null)
                            {
                                <ul class="navbar-nav mr-auto py-0">
                                    <a href="@Url.Action("CuentaRH", "RecursosHumanos")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["RH"].ToString()</a>
                                    <a href="@Url.Action("Salir", "RecursosHumanos")" class="nav-item nav-link">Salir</a>
                                </ul>
                            }

                            @if (Session["Empleado"] != null)
                            {
                                <div class="navbar-nav mr-auto py-0">
                                    <a href="@Url.Action("CuentaEmpleado", "Empleado")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["Empleado"].ToString()</a>
                                    <a href="@Url.Action("Salir", "Empleado")" class="nav-item nav-link">Salir</a>
                                </div>

                            }


                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->

   

        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>





    </body>
</html>
