@model IEnumerable<SoportePatitosBD.Modelo.Asistencia>
@{
    ViewBag.Title = "ListadoAsistencia";
}

<div class="row">
    <div class="col-md-12">
        <div class="titlepage">
            <br />
            <br />
            <h2> Listado de Asistencias (Marcas) </h2>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="section-heading">
                    </div>
                </div>

                <div class="table-responsive">
                    <!--Muestra una tabla con todas las columnas del empleado-->
                    <table class="table table-hover table-bordered">
                        <tr class="bg-warning text-white">
                            <th>
                                @Html.DisplayNameFor(model => model.ID_asistencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_Estado)
                            </th>

                        </tr>

                        <!--Muestra cada registro en la tabla de Empleados-->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_asistencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_Estado)
                                </td>

                                
                            </tr>
                        }
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="text-center">
    @Html.ActionLink("Calcular Ausencias", "ValidarAusencias", new { }, new { @class = "btn btn-secondary btn-sm" })
</div>
