<!--Se define el modelo necesario para poder mostrar todos los datos (Planilla)-->
@model IEnumerable<SoportePatitosBD.Modelo.Planilla>
@{
    ViewBag.Title = "ListadoPlanilla";
}


<!--Se muestra el título de la sección-->
<div class="row">
    <div class="col-md-12">
        <div class="titlepage">
            <br />
            <br />
            <h4> Soporte Patitos: </h4>
            <h2> Planillas de empleados </h2>
            <p> Fecha: @DateTime.UtcNow</p>
        </div>
    </div>
</div>

<!-- Inicio de Listado Planilla -->
<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="section-heading">
                    </div>
                </div>

                <div class="table-responsive">
                    <!--Muestra una tabla con todas las columnas de la planilla-->
                    <!--El DisplayNameFor muestr un label para cada atributo del modelo-->
                    <table class="table table-hover table-bordered">
                        <tr class="bg-warning">
                            <th>
                                @Html.DisplayNameFor(model => model.ID_planilla)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salario_bruto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_fiscales)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_CCSS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_ausencias)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salario_neto)
                            </th>
                        </tr>

                        <!--Muestra cada registro en la tabla de Planilla-->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_planilla)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salario_bruto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_fiscales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_CCSS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_ausencias)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salario_neto)
                                </td>

                            </tr>
                        }
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<!--Fin-->

<!--Se muestra un botón general al final de la lista, para poder descargar todas las planillas realizadas hasta la fecha -->
<div class="ln_solid">
    <div class="form-group">
        <div class="text-right">
            @Html.ActionLink("Descargar Planilla", "PdfPlanilla", "", new { @class = "btn btn-dark btn-sm" })
        </div>
    </div>
</div>