
@{
    ViewBag.Title = "Registro_Empleados";
    //List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    //List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items;

    List<SelectListItem> items = (List<SelectListItem>)ViewData["Departamento"];
    List<SelectListItem> items2 = (List<SelectListItem>)ViewData["Puesto"];
    List<SelectListItem> items3 = (List<SelectListItem>)ViewData["Perfil"];
    List<SelectListItem> items4 = (List<SelectListItem>)ViewData["Horario"];
    List<SelectListItem> items5 = (List<SelectListItem>)ViewData["Estado_civil"];
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Registro de empleados</h2>
            </div>

        </div>
        <br />


        <div class="row">
            <div class="col-md-12 col-sm-12">


                <div class="x_content">
                    <!--Se define el metodo para enviar datos y el action relacionado-->
                    <form id="registro" action="EnviarEmpleado" method="post" class="system-forms">
                        <h4 class="section">Por favor llene todos los campos para registrar el empleado</h4>
                        <h6 class="section">Los últimos campos se deben llenar por motivos fiscales</h6>
                        <br />



                        <!--Campo para la cedula del empleado-->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Cedula<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="Cedula" class="form-control p-4" type="text" name="Cedula" pattern="[0-9]{9,12}" required="" placeholder="Ej:121121121. Igual a la cédula (9-12 dígitos)." />
                                </div>
                            </div>
                        </fieldset>

                        <br />
                        <!--Campo para el nombre completo del empleado-->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nombre completo<span>*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control p-4" type="text" id="Nombre_empleado" name="Nombre_empleado" pattern="[a-zA-Z ]{4,30}" required="" placeholder="Ej: Mario Perez. Solo incluya letras." />
                                    <!--onkeypress="return (event.charCode == 65 && event.charCode == 90) || (charCode == 32)" required=""/>-->
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para la fecha de ingreso-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Fecha de ingreso<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="date" id="Fecha_ingreso" name="fecha_ingreso" required="required" />
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para el departamento del empleado-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Departamento<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("ID_departamento", items, "Seleccione el departamento", new { @class = "form-control", required = "required" })
                                    <!--<input class="form-control" type="number" id="ID_departamento" name="ID_departamento" required='required'>-->
                                </div>
                            </div>

                        </fieldset>

                        <br />


                        <!--Campo para el perfil del empleado-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Perfil<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("ID_perfil", items3, "Seleccione el perfil", new { @class = "form-control", required = "required" })
                                    <!--<input class="form-control" type="number" id="ID_perfil" name="ID_perfil" required='required'>-->
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para el puesto del empleado-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Puesto<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("ID_puesto", items2, "Seleccione el puesto", new { @class = "form-control", required = "required" })
                                    <!-- <input class="form-control" type="number" id="ID_puesto" name="ID_puesto">-->
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para el horario del empleado-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Horario<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("ID_horario", items4, "Seleccione el horario", new { @class = "form-control", required = "required" })
                                    <!-- <input class="form-control" type="number" id="ID_horario" name="ID_horario">-->
                                </div>

                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para el usuario-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Usuario<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" id="Usuario" name="Usuario" required placeholder="Ej: Mario236" />
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para la contraseña-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Contraseña<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" id="Contraseña" name="Contraseña" required placeholder="Ej: M01p89aft78*.01" />
                                </div>
                            </div>
                        </fieldset>

                        <br />



                        <!--Campo para la cantidad de hijos-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Cantidad de Hijos<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="number" id="Cantidad_Hijos" name="Cantidad_Hijos" required placeholder="Ej: 1" />
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <!--Campo para el estado civil-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Estado Civil<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("ID_Estado_Civil", items5, "Seleccione el estado civil", new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </fieldset>

                        <br />




                        <div class="ln_solid">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <!--Botones para crear un empleado y limpiar el formulario-->
                                    <button type='submit' onclick="return validarUsuario()" class="btn btn-primary">Registrar empleado</button>
                                    <button type='reset' class="btn btn-info">Limpiar campos</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />


                    </form>




                </div>
            </div>
        </div>
    </div>
</div>



