@model SoportePatitosBD.Modelo.Evaluacion

@{
    ViewBag.Title = "ReporteEmpleado";
    SoportePatitosBD.Modelo.Evaluacion pEvaluacion = new SoportePatitosBD.Modelo.Evaluacion();
}




<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Reporte de la Evaluación de desempeño del empleado</h1>
            </div>
        </div>
    </div>
</div>





<!--Muestra solo un reporte especìfico -->
@using (Html.BeginForm("ReporteEmleado", "Empleado", FormMethod.Get))
{
    <div class="single-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Modificar</h2>

                        </div>
                    </div>
                    <div class="contact-form">
                        <div class="row">


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.ID_evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.ID_evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Pregunta_1, htmlAttributes: new { @class = "control-label col-md-2" })1
                                @Html.EditorFor(model => model.Pregunta_1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Pregunta_2, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Pregunta_2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Pregunta_3, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Pregunta_3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Pregunta_4, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Pregunta_4, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">


                            </div>
                            <br><br><br><br>
                        </div>
                    </div>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
}




