@model SoportePatitosBD.Modelo.Empleado

@{
    ViewBag.Title = "ReporteEmpleado";
    //SoportePatitosBD.Modelo.Empleado pEmpleado = new SoportePatitosBD.Modelo.Empleado();
   // SoportePatitosBD.Modelo.Evaluacion pEvaluacion = new SoportePatitosBD.Modelo.Evaluacion();
}




<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Reporte de la Evaluación de desempeño del empleado</h1>
            </div>
        </div>
    </div>
</div>





<!--Muestra solo un reporte especìfico -->

    <div class="single-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="section-heading">
                        </div>
                    </div>
                    <div class="system-forms">
                        <div class="row">


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion.ID_evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                @Html.LabelFor(model => model.Evaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Evaluacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <br>
                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="ln_solid">
                                    <div class="form-group">
                                        <div class="col-md-6 offset-md-3">
                                            <!--Botones para crear un empleado y limpiar el formulario-->
                                            <button class="btn btn-primary">Descargar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br><br><br>
                        </div>
                    </div>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
}




