<!--Se llama a un modelo de tipo Planilla para que se puedan mostrar los datos específicos-->
@model IEnumerable<SoportePatitosBD.Modelo.Planilla>

@{
    ViewBag.Title = "HistorialColilla";


}

<!--Sección para el título (con sus clases respectivas para el formato)-->
<div class="row">
    <div class="col-md-12">
        <div class="titlepage">
            <br />
            <br />
            <!--Se establece el título que aparecerá en la sección-->
            <h2> Historial de Colillas de Pago </h2>
            <p> Colillas de pago disponibles hasta la fecha </p>
        </div>
    </div>
</div>

<!--Sección para mostrar todos los regitros (con sus clases respectivas para el formato)-->
<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="table-responsive">
                    <!--Muestra una tabla con todas las columnas del empleado-->
                    <table class="table table-hover table-bordered">
                        <!--Musestra los Label para cada campo de la Colilla (campos de la tabla Planilla). Se utiliza HTMl Helpers-->
                        <tr class="bg-warning">
                            <th>
                                @Html.DisplayNameFor(model => model.ID_planilla)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Empleado.Cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salario_bruto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_fiscales)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_CCSS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deducciones_ausencias)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salario_neto)
                            </th>
                        </tr>

                        <!--Muestra cada registro encontrado que sea una coilla del empleado que está en sesión-->
                        <!--Para cada colilla debe mostrar los datos de cada campo-->
                        <!--Se utiliza HTMl Helpers-->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_planilla)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Empleado.Cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salario_bruto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_fiscales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_CCSS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deducciones_ausencias)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salario_neto)
                                </td>

                                <td>
                                    <!--Permite dirigirse a una colilla específica por medio del ID_planilla -->
                                    @Html.ActionLink("Descargar Colilla", "GenerarPDF", new { ID_planilla = item.ID_planilla }, new { @class = "btn btn-warning btn-sm" })

                                </td>
                            </tr>
                        }
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>