
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="~/Content/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- style css -->
    <link href="~/Content/Assets/css/style.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/Content/Assets/css/responsive.css" rel="stylesheet" />

    <!-- Scrollbar Custom CSS -->
    <link href="~/Content/Assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->


    <script src="~/Content/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Assets/js/custom.js"></script>
    <script src="~/Content/Assets/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/Assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/Assets/js/jquery.min.js"></script>
    <script src="~/Content/Assets/js/jquery.validate.js"></script>
    <script src="~/Content/Assets/js/plugin.js"></script>
    <script src="~/Content/Assets/js/popper.min.js"></script>


    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</head>
<body>





    <!-- header inner -->
    <header>
        <div class="header-top">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                            <img src="~/Content/Assets/images/LOGO_03long.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li> <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Inicio</a> </li>
                                            <li><a href="@Url.Action("Login", "Home" )" class="nav-item nav-link">Iniciar Sesión</a></li>
                                        </ul>
                                        @if (Session["Empleado"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li> <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia --> </li>
                                                <li> <a href="@Url.Action("HistorialColilla", "Empleados")" class="nav-item nav-link">Colillas</a> <!-- Colillas de pago de planilla  --></li>
                                            </ul>
                                        }

                                        @if (Session["Gerencia"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li> <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia --> </li>
                                                <li> <a href="@Url.Action("Evaluacion", "RecursosHumanos")" class="nav-item nav-link">Evaluación</a> <!-- Formulario de Evaluaciòn --></li>
                                            </ul>
                                        }

                                        @if (Session["RH"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li> <a href="@Url.Action("Registro_Empleados", "RecursosHumanos")" class="nav-item nav-link">Registro</a> <!-- Registro de Empleados --> </li>
                                                <li> <a href="@Url.Action("Evaluacion", "RecursosHumanos")" class="nav-item nav-link">Evaluación</a> <!-- Formulario de Evaluaciòn --></li>
                                                <li> <a href="@Url.Action("ListadoEmpleadosPlanilla", "RecursosHumanos")" class="nav-item nav-link">Planilla</a> <!-- Manejo de Planillas --></li>
                                                <li> <a href="@Url.Action("MarcaAsistencia", "Empleados")" class="nav-item nav-link">Asistencia</a> <!-- Formulario para Marcar Asistencia --></li>
                                                <li> <a href="@Url.Action("HistorialColilla", "Empleados")" class="nav-item nav-link">Historial de Colilla</a> <!-- Colillas de pago del usuario --> </li>
                                                <li> <a href="@Url.Action("ListadoEmpleados", "RecursosHumanos")" class="nav-item nav-link">Mant.Empleados</a> <!-- Listado de empleados  --></li>
                                                <li><a href="@Url.Action("ListadoPlanilla", "RecursosHumanos")" class="nav-item nav-link">Mant.Planilla</a> <!-- Listado de Planillas  --></li>
                                            </ul>
                                        }


                                        @if (Session["Gerencia"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li><a href="@Url.Action("CuentaGerencia", "Empleado")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["Gerencia"].ToString()</a></li>
                                                <li><a href="@Url.Action("Logout", "Home")" class="nav-item nav-link">Salir</a></li>
                                            </ul>
                                        }


                                        @if (Session["RH"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li><a href="@Url.Action("CuentaRH", "RecursosHumanos")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["RH"].ToString()</a></li>
                                                <li><a href="@Url.Action("Logout", "Home")" class="nav-item nav-link">Salir</a></li>
                                            </ul>
                                        }

                                        @if (Session["Empleado"] != null)
                                        {
                                            <ul class="menu-area-main">
                                                <li><a href="@Url.Action("CuentaEmpleado", "Empleado")" class="nav-item nav-link">Bienvenido @HttpContext.Current.Session["Empleado"].ToString()</a></li>
                                                <li><a href="@Url.Action("Logout", "Home")" class="nav-item nav-link">Salir</a></li>
                                            </ul>

                                        }

                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end header inner -->


        <section class="slider_section">
            <div class="banner_main">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                            <div class="text-bg">
                                <h1>Soporte Patitos</h1>
                                <span>
                                    <strong class="land_bold text-black-50">Especialistas en Mantenimiento</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="text-img">
                                <figure>
                                    <img src="~/Content/Assets/images/Home.png" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </header>

    <!-- Best  -->
    <div id="jewellery" class="Best">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Soporte Patitos</h2>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="best_main pa_bot">
                        <div class="row d_flex">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="best_text ">
                                    <p>Somos una empresa que se encarga de brindar servicios de mantenimiento a edificios a nivel nacional, actualmente, nos encontramos ubicados en San José, catedral.</p>
                                    <a href="#contact">Más información</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="best_img d_none">
                                    <h4>Todo tipo de edificios</h4>
                                    <figure>
                                        <img src="~/Content/Assets/images/architecture-g0634665da_1280.jpg" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />


                    <div class="best_main">
                        <div class="row d_flex">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="best_img croos_rt">
                                    <h4>Mantenimiento especializado</h4>
                                    <figure>
                                        <img src="~/Content/Assets/images/workers-g2165b517e_1280.jpg" />
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="best_text flot_left">
                                    <p>Ofrecemos servicios de mantenimiento a todo tipo de eficios a nivel nacional a precios muy accesibles. </p>
                                    <a href="#contact">Más información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="best_main pa_bot">
                        <div class="row d_flex">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="best_text">
                                    <p>Trabajamos con todos los estándares de seguridad: Nuestra prioridad son nuestros clientes y nuestros empleados</p>
                                    <a href="#contact">Más información</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="best_img d_none">
                                    <h4>Altos estándares de seguridad</h4>
                                    <figure>
                                        <img src="~/Content/Assets/images/building-gd1132d348_1280.jpg" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Best -->
    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Formulario de Contacto</h2>
                        <p> Contáctenos sin ningún compromiso </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="contact">
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Nombre" type="text" name="Name">
                                </div>
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Teléfono" type="text" name="Phone Number">
                                </div>
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Correo" type="text" name="Email">
                                </div>
                                <div class="col-sm-12">
                                    <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button class="send">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="rable-box">
                        <figure>
                            <img src="~/Content/Assets/images/buildings-g995ed5f15_1280.jpg" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!-- clients -->
    <div id="clients" class="clients ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Nuestros clientes</h2>
                        <p> Conozca las opiniones de nuestros clientes sobre nuestros servicios </p>
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class="col-md-10 offset-col-md-1">
                    <div id="myCarousel" class="carousel slide clients_slider" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row d_flex">
                                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                                <div class="img_box">
                                                    <figure>
                                                        <img src="~/Content/Assets/images/stairs-g13cda99cc_1280.jpg" />
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                                <div class="joe">
                                                    <h3>Juanita Pérez</h3>
                                                    <p>"El servicio brindado fue de alta calidad, con buenos precios y en un tiempo de respuesta muy corto. Excelente empresa, no la cambiaríamos por nada."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end clients -->



</body>
</html>
